 <!-- Navbar -->
 <nav class="navbar is-fixed-top is-uppercase">
  <div class="container">
      <div class="navbar-brand">
          <a class="navbar-item" href="index.html">
              <img src="images/pwa_logo.png" alt="PWA_logo" width="100px" height="60px">
          </a>
          <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>

      <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-end">
              <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link has-text-grey" href="#">
                      Catagories
                  </a>
                  <div class="navbar-dropdown is-boxed">
                      <a class="navbar-item" href="restaurants.html">
                          Restaurants
                      </a>
                      <a class="navbar-item" href="#">
                          Barber Shops
                      </a>
                      <a class="navbar-item" href="#">
                          Mechanics
                      </a>
                      <a class="navbar-item" href="#">
                          E-Cig
                      </a>

                      <hr class="navbar-divider">
                      <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
                          Elements
                      </a>
                      <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
                          Components
                      </a>
                  </div>
              </div>
              <div class="navbar-item">
                  <div class="field has-addons">
                      <div class="control">
                          <input class="input" type="text" placeholder="SEARCH">
                      </div>
                      <div class="control">
                          <a class="button is-primary">
                              <i class="fas fa-search has-text-white"></i>
                          </a>
                      </div>
                  </div>
              </div>
              <a class="navbar-item has-text-primary" href="#">
                  Login
              </a>
          </div>

      </div>
  </div>
</nav>